# Problem 1: Write a function thats input is a number and output is:
* Return True if the input number is even.
* Return False if the input number is odd.

In [41]:
# Solve problem 1 here
def is_even(num):
    if (num % 2 == 0):
        return True
    else:
        return False

In [53]:
def EvenOrOdd(num):
    if num%2 == 0:
        return num, " is even"
    else:
        return num, " is odd"

In [54]:
is_even(11)

False

In [55]:
is_even(6)

True

In [56]:
num = int(input("Enter number: "))
EvenOrOdd(num)

Enter number: 45

(45, ' is odd')

# Problem 2: Find the sum and the average of this list of numbers.

Try doing this using a loop.  Then try doing this without using a loop.

In [58]:
# Solve problem 2 here:

my_list = [1, 5, 10, 55, 88, 44, 42, 50, 20, 38]
#list_sum = 0
#list_avg = 0
def sum_avg(your_list):
    list_sum = 0
    for item in your_list:
        list_sum += item
    list_avg = list_sum/len(your_list)
    print('sum:',list_sum,'avg:', list_avg)

# Keep this as your last line in this cell.
##print(list_sum, list_avg)

In [59]:
# without a loop
list_sum = sum(my_list)
list_avg = list_sum/len(my_list)
print("sum: ", list_sum, "avg: ", list_avg)

sum:  353 avg:  35.3

In [10]:
sum_avg(my_list)

sum: 353 avg: 35.3

# Problem 3:  Using a dictionary, count the words in this sentence. 
* Hint, you can use `.split()` to split a string into a list.

In [11]:

my_string = '''The Oklahoma City Zoo and Botanical Garden is a zoo and botanical garden located in Oklahoma City's Adventure District in northeast Oklahoma City, Oklahoma. The zoo covers 119 acres (48 ha) and is home to more than 1,900 animals. It is open every day except Thanksgiving, Christmas, and New Year's Day. The Oklahoma City Zoo is an accredited member of the Association of Zoos and Aquariums and the American Alliance of Museums.'''

In [12]:
# Solve problem 3 here:
def count_words(input_string):
    count_list =  input_string.split()
    my_dict = dict()
    for item in count_list:
        if item in my_dict:
            my_dict[item] += 1
        else:
            my_dict[item] = 1
    return my_dict

In [13]:
count_words(my_string)

{'The': 3,
 'Oklahoma': 4,
 'City': 2,
 'Zoo': 2,
 'and': 6,
 'Botanical': 1,
 'Garden': 1,
 'is': 4,
 'a': 1,
 'zoo': 2,
 'botanical': 1,
 'garden': 1,
 'located': 1,
 'in': 2,
 "City's": 1,
 'Adventure': 1,
 'District': 1,
 'northeast': 1,
 'City,': 1,
 'Oklahoma.': 1,
 'covers': 1,
 '119': 1,
 'acres': 1,
 '(48': 1,
 'ha)': 1,
 'home': 1,
 'to': 1,
 'more': 1,
 'than': 1,
 '1,900': 1,
 'animals.': 1,
 'It': 1,
 'open': 1,
 'every': 1,
 'day': 1,
 'except': 1,
 'Thanksgiving,': 1,
 'Christmas,': 1,
 'New': 1,
 "Year's": 1,
 'Day.': 1,
 'an': 1,
 'accredited': 1,
 'member': 1,
 'of': 3,
 'the': 2,
 'Association': 1,
 'Zoos': 1,
 'Aquariums': 1,
 'American': 1,
 'Alliance': 1,
 'Museums.': 1}

In [15]:
count_words("Using a dictionary, count the words in this sentence")

{'Using': 1,
 'a': 1,
 'dictionary,': 1,
 'count': 1,
 'the': 1,
 'words': 1,
 'in': 1,
 'this': 1,
 'sentence': 1}

# Problem 4: Write a function that input is a number and output returns the following
* If the input is divisible by three, return 'fizz'
* If the input is divisible by five, return 'buzz'
* If the input is divisible by three and by five, return 'fizzbuzz'
* If the input is not divisible by three or five, return None.

In [16]:
# Solve Problem 4 here:
def fizz_buzz(n):
    if n%3 == 0 and n%5 ==0:
        return "fizzbuzz"
    elif n%3 == 0:
        return "fizz"
    elif n%5 ==0:
        return "buzz"
    else:
        return "None"

In [17]:
fizz_buzz(15)

'fizzbuzz'

In [18]:
fizz_buzz(9)

'fizz'

In [19]:
fizz_buzz(10)

'buzz'

In [20]:
fizz_buzz(13)

'None'

# Problem 5: 
Write a function that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

Example input and expected output

input = ["Michele", "Robin", "Sara", "Michele"]

expected output = ['Michele', 'Robin', 'Sara']

In [5]:
# Solve problem 5 here:

names = ["Michele", "Robin", "Sara", "Michele"]
def no_dup(my_list):
    my_list = set((my_list))
    my_list = list(my_list)
    return my_list

In [9]:
def no_dup2(my_list):
    output_list = []
    for name in my_list:
        if name not in output_list:
            output_list.append(name)
    return output_list

In [10]:
no_dup(names)

['Michele', 'Robin', 'Sara']

In [11]:
no_dup2(names)

['Michele', 'Robin', 'Sara']

# Problem 6: 
Write a function that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and returns a new list of only the first and last elements of the given list.

Example input and expected output:

input = [5, 10, 15, 20, 25]

expected output = [5, 25]

In [14]:
# Solve problem 6 here:

input_list = [5, 10, 99, 20, 25]

def first_last(one_list):
    new_list = one_list[0:1] + one_list[-1:]
    return new_list

In [23]:
def first_last2(one_list):
    return[one_list[0],one_list[-1]]

In [24]:
first_last(input_list)

[5, 25]

In [25]:
new_list = first_last2(input_list)
new_list

[5, 25]

# Problem 7:  Implement a function that takes as input three variables, and returns the largest of the three. 
Do this without using the Python max() function! 
_*Note all three input numbers will always be different, no need to account for a tie._

Example input and expected output:

input = your_function(1, 5, 10)

expected output:  10

In [34]:
# Solve Problem 7 here:

def your_function(a, b, c):
    # Fill in your code below and return max value of a, b, c
    max_value = a
    if max_value < b:
        max_value = b
    if max_value < c: 
            max_value = c
    return max_value

In [60]:
def your_function2(a,b,c):
    if(a>b) and (a>c):
        return a
    elif(b>a) and (b>c):
        return b
    else:
        return c

In [65]:
# Test to see if your function works properly.
your_function(1, 5, 10)

10

In [66]:
your_function2(1,50,10)

50