## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [130]:
import datetime
date = datetime.datetime.now()
print(date.strftime("%Y-%m-%d %X"))

2021-08-09 10:51:56

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [98]:
import math

def circle_area(r):
    return (math.pi * pow(r,2))

In [99]:
circle_area(2)

12.566370614359172

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [47]:
input_list = [2,4,5,5,7,9]
def my_func(my_list):
    my_set = set(my_list)
    if len(my_set) == len(my_list):
        return True
    else:
        return False

In [48]:
my_func(input_list)

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'horse-racing.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'T': 52, 'H': 42, 'E': 95, ' ': 167, 'A': 62, 'L': 42, 'N': 61, 'O': 58, 'M': 19, 'S': 58, 'C': 25, 'P': 16, 'I': 41, 'V': 10, 'U': 28, 'R': 61, 'D': 35, 'G': 9, '1': 8, 'W': 13, 'F': 12, 'Y': 12, '.': 8, 'B': 6, '2': 10, '4': 2, '(': 1, ',': 8, '0': 10, '3': 2, ')': 1, 'J': 1, 'K': 2, '\n': 4, "'": 3, '[': 1, ']': 1, '7': 1, '8': 1, '9': 2}`

In [135]:
text_file_path = 'data/horse-racing.txt'

file_object = open(text_file_path, 'r')

data = file_object.read()
file_object.close()

In [286]:
#converting characters to uppercase
data = data.upper()
#eliminating white space
data = data.replace(" ","")
#function that returs a list of characters
#def split_function(input_string):
    #return [char for char in input_list]

#my_char_list = split_function(data)

In [292]:
def count_char(input_string):
    my_char_list = []
    for char in input_string:
        my_char_list.append(char)#populating list of characters
    my_dict = dict()
    for item in my_char_list:
        if item not in my_dict:
            my_dict[item] = 1
        else:
            my_dict[item] +=1
    print(my_dict) 

count_char(data)

{'T': 52, 'H': 42, 'E': 95, 'A': 62, 'L': 42, 'N': 61, 'O': 58, 'M': 19, 'S': 58, 'C': 25, 'P': 16, 'I': 41, 'V': 10, 'U': 28, 'R': 61, 'D': 35, 'G': 9, '1': 8, 'W': 13, 'F': 12, 'Y': 12, '.': 8, 'B': 6, '2': 10, '4': 2, '(': 1, ',': 8, '0': 10, '3': 2, ')': 1, 'J': 1, 'K': 2, '\n': 4, "'": 3, '[': 1, ']': 1, '7': 1, '8': 1, '9': 2}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [81]:
def print_list(the_list):
    removed_item = the_list[3]
    the_list.remove(the_list[3]) 
    the_list.append(removed_item * the_list[-1])
    print(the_list)

In [82]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

In [83]:
print_list(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [148]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

In [296]:
def three_divisible(input_list):
    my_list = []
    for item in input_list:
        if item%3 == 0:
            my_list.append(item)
    return my_list

In [300]:
new_list = three_divisible(original_list)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [154]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

In [157]:
def reverse_list(input_list):
    output_list = input_list[::-1]
    print(output_list)

In [158]:
reverse_list(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [97]:
original_list = [1, 2, 3, 4, 5, 6, 7]
def squared_nums(input_list):
    new_list = []
    for item in input_list:
        item = item**2
        new_list.append(item)
    print(new_list)

squared_nums(original_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [311]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

def orig_rever(list1,list2):
    list2 = list2[::-1]
    for item1,item2 in zip(list1,list2):
        print (item1,item2)

In [312]:
orig_rever(list1,list2)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [263]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

In [279]:
def no_empty_s(input_string):
    new_string = []
    for item in input_string:
        if item == '':
            continue
        else:
            new_string.append(item)
    return new_string
        
no_empty_s(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [278]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

def value_exists(my_dict,key_value):
    print(key_value in my_dict.values())
    
value = 999
value_exists(sample_dict,value)

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [386]:
import pandas as pd

In [387]:
df = pd.read_csv(filepath_or_buffer='data/titanic.csv')
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [389]:
df['age'].mean()

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [353]:
#oldest age
df['age'].max()

80.0

In [354]:
#youngest age
df['age'].min()

0.42

## How many people embarked from station 'S'?

In [393]:
 df.embarked.value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [410]:
p_number = df[df['embarked']=='S']['passengerid'].count()
print(p_number)

644